.about{
    padding: 0px !important;
}
.about__swiper-slide{
    display: flex !important;
    align-items: flex-start !important;
    justify-content: space-between !important;
    /*margin: 100px 0px;*/
}
.about__col{
    width: 45%;
}
.about__title{
    font-size: 48px;
}
.about__title span{
    color: #02D978;
}
.about__text{
    margin-top: 30px;
    font-size: 18px;
    letter-spacing: .4px;
    line-height: 27px;
    text-align: justify;
}


/**** Swiper styles ****/
.about__swiper {
    width: 100%;
    height: 100%;
}
.about__swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px 10vw;
}
.about__swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__swiper {
    margin-left: auto;
    margin-right: auto;
}
.swiper-button-next,
.swiper-button-prev{
    color: #fff !important;
}
.swiper-pagination span{
    background: #fff !important;
}
.about__swiper-button-next{
    right: 5vw !important;
}
.about__swiper-button-prev{
    left: 5vw !important;
}


/**** Videoplayer styles ****/
.about__video{
    width: 100%;
    position: relative;
}
.about__videoplayer{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about__video-controls {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    align-items: center;
    transition: .2s;
    opacity: .8;
}
.tabir__video:hover .about__video-controls {
    opacity: 1;
}
.about__video-control-button {
    border: none;
    background: transparent;
    cursor: pointer;
    opacity: .8;
    transition: all .2s;
}
.about__video-control-button:hover {
    opacity: 1;
}
.about__video-control-button img {
    width: 90px;
    height: 90px;
}