
/******** HEADER ********/
.header{
    width: calc(100vw-(10vw*2));
    height: 100vh;
    position: relative;
}

/**** HEADER NAVIGATION ****/
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0px;
}
.header__logo-wrapper{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header__logo{
    animation-name: header__logo;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
}
.header__logo-title{
    text-transform: uppercase;
    letter-spacing: 0px;
    font-size: 22px;
    margin-top: 2px;
    margin-left: 15px;
}
.header__burger{
    position: absolute;
    top: 4vh;
    right: 8vw;
    font-size: 64px;
    font-weight: 300;
    display: none;
}
.header__burger-line{
    width: 36px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    border-radius: 1.35px;
}
.header__list{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__item{
    margin-right: 35px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2px 0px;
    transition: .15s;
}
.header__link:hover {
    color: #02D978;
    transition: .15s;
}
.header__link-active{
    color: #0EEF8A;
    border-bottom: 1px solid #0EEF8A;
}


/**** HEADER CONTENT ****/
.header__content{
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__title{
    font-size: 48px;
}
.header__title span {
    color: #0EEF8A;
}
.header__description{
    font-size: 18px;
    margin: 20px 0px;
    line-height: 26px;
}


.header__btns{
    display: flex;
    align-items: center;
    margin: 4vh 0px;
}
.header__btn-play{
    display: flex;
    align-items: center;
    padding: 18px 30px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .6px;
    background: linear-gradient(180deg, #15FD95 0%, #02D978 100%);
    box-shadow: 0px 3px 0px #008649;
    color: #0A0A14;
    border-radius: 10px;
    margin-right: 50px;
    transition: .3s;
}
.header__btn-play img{
    height: 26px;
    margin-right: 15px;
}
.header__btn-play:hover{
    background: linear-gradient(45deg, #02D978 0%, #15FD95 100%);
    box-shadow: 0px -3px 0px #008649;
    transform: scale(1.02);
    transition: .3s;
}
.header__btn-video{
    display: flex;
    align-items: center;
}
.header__btn-video img{
    transition: .3s;
}
.header__btn-video img:hover {
    transform: scale(1.22);
    transition: .3s;
    margin-right: 10px;
}
.header__btn-video::after{
    content: 'Переглянь відео серверу!';
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 10px;
    letter-spacing: .35px;
}

.header__servers{
    display: flex;
    align-items: center;
    list-style: none;
}
.header__server{
    display: flex;
    align-items: center;
    margin-right: 45px;
    padding: 15px 25px;
    background-color: #131521;
    border: 1px solid #282C45;
    border-radius: 10px;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.header__server-players{
    margin-left: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
}
.header__server-players::before{
    content: '•';
    margin-right: 4.5px;
    color: #02D978;
    font-weight: 800;
    margin-bottom: 2px;
}


.header__soldier{
    width: 40vw;
    position: absolute;
    bottom: -10vh;
    right: -8vw;
}


@keyframes header__logo {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
    }
    100%{
        transform: scale(1);
    }
}




/******** FOOTER ********/

.footer{
    background-color: #282C45;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
    padding: 5vh 10vw !important;
}
.footer__title{
    font-size: 18px;
    letter-spacing: 1.2px;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5vh;
    width: 100%;
}
.footer__nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.footer__list{
    list-style: none;
}
.footer__list li{
    line-height: 27px;
}
.footer__link{
    letter-spacing: .8px;
    font-size: 14px;
}
.footer__payments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 20%;
}
.footer__payments li{
    flex: 50%;
}
.footer__payment-method{
    width: 64px;
}
