/**** Connecting fonts ****/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**** Connecting styles ****/
@import url(wow.css);
@import url(header&footer.css);
@import url(about.css);
@import url(play.css);

/**** Setting basics ****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    background-image: url(../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;

    /*height: 400vh;*/
}
.header,
.about,
.play,
.footer{
    padding: 0px 10vw;
}
h1, h2, h3, h4{
    text-transform: uppercase;
}
h2{
    font-size: 48px;
}
h2 span{
    color: #0EEF8A;
}
a{
    text-decoration: none;
}

.header__btn-play,
.play__btn-link {
    display: flex;
    align-items: center;
    padding: 18px 30px;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .6px;
    background: linear-gradient(180deg, #15FD95 0%, #02D978 100%);
    box-shadow: 0px 3px 0px #008649;
    color: #0A0A14;
    border-radius: 10px;
    margin-right: 50px;
    transition: .3s;
}

.header__btn-play img,
.play__btn-link img {
    height: 26px;
    margin-right: 15px;
}

.header__btn-play:hover,
.play__btn-link:hover {
    background: linear-gradient(45deg, #02D978 0%, #15FD95 100%);
    box-shadow: 0px -3px 0px #008649;
    transform: scale(1.02);
    transition: .3s;
}


/**** ADAPTIVE STYLES ****/
@media screen and (max-width: 769px) {
    .header{
        padding: 0px 4vw;
    }
    body{
        padding: 0;
    }
    /**** HEADER ****/
    .header{
        height: auto;
    }
    .header__nav{
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 2vh 5vw;
        background-color: #161929;
        position: fixed;
        top: 15px;
        left: 0;
        width: 100%;
        z-index: 4;
        box-shadow: 0px 1px 2px #161929, 0px -1px 2px #161929;
    }
    .header__burger{
        display: unset;
    }
    .header__list{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 20px 0px;
        display: none;
    }
    .header__item{
        margin: 16px 0px;
    }
    .header__link{
        font-size: 22px;
    }

    .header__content{
        height: inherit;
        width: 100%;
        padding: 30px 20px;
        margin-top: 16vh;
    }
    h2{
        font-size: 36px;
    }
    .header__description{
        font-size: 16px;
    }
    .header__btns,
    .header__servers{
        justify-content: center;
    }
    .header__soldier{
        display: none;
    }


    /**** ABOUT ****/
    .about{
        flex-direction: column;
        padding: 20px 40px;
        margin-top: 20px;
    }
    .about__col{
        width: 100%;
        margin: 15px 0px;
    }
    .about__title{
        text-align: center;
    }
    .about__text{
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }


    /**** PLAY ****/
    .play__content {
        width: 100%;
    }

    .play__item-laptop {
        display: none;
    }
    .play__item-phone{
        display: none;
    }

    .play__block {
        width: 100%;
        margin: 20px 0px;
    }
    .play__block-title{
        font-size: 14px;
    }
    .play__block-message{
        font-size: 20px;
        margin: 20px 0px;
    }
    .play__btn-link{
        font-size: 18px;
    }
    .play__btn-link img{
        width: 20px;
        height: 20px;
    }
    .play__item{
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .play__item-message img{
        display: none;
    }
    .play__item-message{
        font-size: 36px;
        position: static;
    }
    .play__item-title{
        position: static;
        margin: 10px 0px;
    }

    
    /**** FOOTER ****/
    .footer__content{
        flex-direction: column;
    }
    .footer__nav{
        width: 100%;
        flex-wrap: wrap;
    }
    .footer__list{
        margin: 20px 0px;
    }
    .footer__payments{
        width: 100%;
        justify-content: center;
    }
    .footer__payments li{
        flex: unset;
        margin: 10px 25px;
    }

}

@media screen and (max-width: 640px) {
    /**** HEADER ****/
    .header__nav{
        margin-bottom: 5vh;
    }
    .header__logo-title span{
        font-size: 20px;
        display: none;
    }
    .header__logo-title::after{
        content: 'azov';
    }
    .header__burger{
        right: 6vh;
    }
    .header__burger-line{
        width: 26px;
        height: 4px;
        margin: 5px 0px;
    }
    .header__item{
        margin: 10px 0px;
    }
    .header__link{
        font-size: 18px;
    }

    .header__content{
        padding: 0px 10px;
    }
    h2{
        font-size: 26px;
    }
    .header__description{
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
    .header__btns{
        align-items: center;
        justify-content: start;
    }
    .header__servers{
        flex-direction: column;
        align-items: start;
    }
    .header__btn-play{
        font-size: 20px;
    }
    .header__servers li{
        margin: 10px 0px;
        width: 100%;
        justify-content: center;
    }
    .header__btn-video::after{
        display: none;
    }


    /**** ABOUT ****/
    .about{
        padding: 20px 25px;
    }

    /**** PLAY ****/
    .play__item-message{
        font-size: 28px;
    }
    .play__description{
        font-size: 16px;
    }

}